node_modules
.vs/team6project/FileContentIndex/13b63cf2-30df-4cc1-b533-58d68b0acbec.vsidx
.vs/team6project/FileContentIndex/15fe5ede-f304-4d1a-8d93-05eb61311106.vsidx
.vs/team6project/FileContentIndex/3eb3e782-9cdc-4dff-8b13-78f9bf4895b4.vsidx
.vs/team6project/v17/.wsuo
.vs/team6project/v17/DocumentLayout.backup.json
.vs/team6project/v17/DocumentLayout.json
.vs/team6project/v17/TestStore/0/000.testlog
.vs/team6project/v17/TestStore/0/testlog.manifest
.vs/VSWorkspaceState.json
VSteam6Project/
.vs/team6project/FileContentIndex/3c262c49-5c89-405b-946f-072931525faf.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/team6project/FileContentIndex/58060f73-bcb5-458e-a5dd-e3ec61e79a67.vsidx
.vs/team6project/FileContentIndex/2983949e-4d74-42b7-8fbb-ff202c333a89.vsidx
.vs/team6project/FileContentIndex/6f2c88d8-334e-4d66-bcdf-aeff2c36c02d.vsidx
.vs/team6project/FileContentIndex/f98a6f4f-9e82-45cd-82fc-a3da2e7b7b85.vsidx
